/* dark-theme.css */

body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}
.data-input-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Add spacing between DataInput elements */
    max-width: 800px; /* Set a maximum width for the form */
    margin-top: 20px; /* Add margin at the top of the form */
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(45deg, #00ff00, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.submit-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #00ff00, #ff00ff);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}